@model Shopping.Models.ChangePasswordModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

@using (Html.BeginForm())
{
    <table border="0">
        <tr>
            <td align="right">
                @Html.DisplayNameFor(m => m.oldPassword)
            </td>
            <td>
                @Html.PasswordFor(m => m.oldPassword)
            </td>
            <td>
                @Html.ValidationMessageFor(m => m.oldPassword)
            </td>
        </tr>
        <tr>
            <td align="right">
                @Html.DisplayNameFor(m => m.newPassword)
            </td>
            <td>
                @Html.PasswordFor(m => m.newPassword)
            </td>
            <td>
                @Html.ValidationMessageFor(m => m.newPassword)
            </td>
        </tr>
        <tr>
            <td align="right">
                @Html.DisplayNameFor(m => m.reNewPassword)
            </td>
            <td>
                @Html.PasswordFor(m => m.reNewPassword)
            </td>
            <td>
                @Html.ValidationMessageFor(m => m.reNewPassword)
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <input type="submit" value="Update Password" name="btnUpdPwd" id="btnUpdPwd" />
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                @Html.DisplayTextFor(m => m.Status)
            </td>
        </tr>
    </table>
}