@model Shopping.Models.ChangePasswordModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

@using (Html.BeginForm())
{
    <table border="0">
        <tr>
            <td align="right">
                @Html.DisplayNameFor(m => m.oldPassword)
            </td>
            <td>
                @Html.EditorFor(m => m.oldPassword,
                    new { htmlAttributes = new { @class = "form-control", @type = "password" } })
            </td>
            <td>
                @Html.ValidationMessageFor(m => m.oldPassword)
            </td>
        </tr>
        <tr>
            <td align="right">
                @Html.DisplayNameFor(m => m.newPassword)
            </td>
            <td>
                @Html.EditorFor(m => m.newPassword,
                    new { htmlAttributes = new { @class = "form-control", @type = "password" } })
            </td>
            <td>
                @Html.ValidationMessageFor(m => m.newPassword)
            </td>
        </tr>
        <tr>
            <td align="right">
                @Html.DisplayNameFor(m => m.reNewPassword)
            </td>
            <td>
                @Html.EditorFor(m => m.reNewPassword,
                    new { htmlAttributes = new { @class = "form-control", @type = "password" } })
            </td>
            <td>
                @Html.ValidationMessageFor(m => m.reNewPassword)
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <input type="submit" value="Update Password" name="btnUpdPwd" id="btnUpdPwd" class="btn btn-default" />
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                @Html.DisplayTextFor(m => m.Status)
            </td>
        </tr>
    </table>
}