@model Shopping.Models.RegistrationModel

@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script type="text/javascript">
    $(function () {
        $(".wizardStep:first").fadeIn();    // show first step

        // attach back button handler, hide the first step
        $("#btnBack").hide().click(function () {
            var step = $("wizardStep:visible");     // get current step
            if (step.prev().hasClass("wizardStep")) {       // is there any previous steps

                step.hide().prev().fadeIn();            // show it and hide current

                // disable the back button
                if (!step.prev().prev().hasClass("wizardStep"))
                    $("btnBack").hide();
            }
            $("#btnBack").val = "Next";
        });

        // attach next button handler
        $("#btnNext").click(function () {

            var step = $("wizardStep:visible");
            var validator = $("form").validate();
            var error = false;

            step.find("input").each(function () {
                if (!validator.element(this))   // validate every input element inside this step
                    anyError = true;
            });

            if (error)
                return false;

            if (step.next().hasClass("confirm")) { // is next wizardStep confirm?
                // show confirmation asynchronously
                $("#btnNext").val("Finish");
                $.post("/home/confirm", $("form").serialize(), function (r) {
                    // inject response in confirmation step
                    $(".wizardStep.confirm").html(r);
                });
            }

            if (step.next().hasClass("wizardStep")) { // is there any next step?
                step.hide().next().fadeIn();  // hide current step, show next
                $("#btnBack").show();   // show backStep button
            }
            else { // this is last step, submit form
                $("form").submit();
            }
        });
    });
</script>

@using (Html.BeginForm())
{
<table style="width:100%;">
    <tr>
        <td colspan="3">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td align="right">
            @Html.DisplayNameFor(m => m.FirstName)
        </td>
        <td>
            &nbsp;@Html.TextBoxFor(m => m.FirstName)
        </td>
        <td>
            @Html.ValidationMessageFor(m => m.FirstName)
        </td>
    </tr>
    <tr>
        <td align="right">
            @Html.DisplayNameFor(m => m.LastName)
        </td>
        <td>
            &nbsp;@Html.TextBoxFor(m => m.LastName)
        </td>
        <td>
            @Html.ValidationMessageFor(m => m.LastName)
        </td>
    </tr>
    <tr>
        <td align="right">
            @Html.DisplayNameFor(m => m.StreetAddress)
        </td>
        <td>
            &nbsp;@Html.TextBoxFor(m => m.StreetAddress)
        </td>
        <td>
            @Html.ValidationMessageFor(m => m.StreetAddress)
        </td>
    </tr>
    <tr>
        <td align="right">
            @Html.DisplayNameFor(m => m.City)
        </td>
        <td>
            &nbsp;@Html.TextBoxFor(m => m.City)
        </td>
        <td>
            @Html.ValidationMessageFor(m => m.City)
        </td>
    </tr>
    <tr>
        <td align="right">
            @Html.DisplayNameFor(m => m.State)
        </td>
        <td>
            &nbsp;@Html.TextBoxFor(m => m.State)
        </td>
        <td>
            @Html.ValidationMessageFor(m => m.State)
        </td>
    </tr>
    <tr>
        <td align="right">
            @Html.DisplayNameFor(m => m.ZipCode)
        </td>
        <td>
            &nbsp;@Html.TextBoxFor(m => m.ZipCode)
        </td>
        <td>
            @Html.ValidationMessageFor(m => m.ZipCode)
        </td>
    </tr>
    <tr>
        <td align="right">
            @Html.DisplayNameFor(m => m.Email)
        </td>
        <td>
            &nbsp;@Html.TextBoxFor(m => m.Email)
        </td>
        <td>
            @Html.ValidationMessageFor(m => m.Email)
        </td>
    </tr>
    <tr>
        <td align="right">
            @Html.DisplayNameFor(m => m.CreditCard)
        </td>
        <td>
            &nbsp;@Html.TextBoxFor(m => m.CreditCard)
        </td>
        <td>
            @Html.ValidationMessageFor(m => m.CreditCard)
        </td>
    </tr>
    <tr>
        <td align="right">
            @Html.DisplayNameFor(m => m.CreditCardType)
        </td>
        <td>
            @{
                List<SelectListItem> listItems = new List<SelectListItem>();
                listItems.Add(new SelectListItem
                {
                    Text = "-- Select --",
                    Value = "0",
                    Selected = true
                });
                listItems.Add(new SelectListItem
                {
                    Text = "VISA",
                    Value = "1"
                });
                listItems.Add(new SelectListItem
                {
                    Text = "MASTERCARD",
                    Value = "2",
                });
                listItems.Add(new SelectListItem
                {
                    Text = "AMERICANEXPRESS",
                    Value = "3"
                });
                listItems.Add(new SelectListItem
                {
                    Text = "DISCOVER",
                    Value = "4"
                });
            }
            @Html.DropDownListFor(m => m.CreditCardType, listItems)
        </td>
        <td>
            @Html.ValidationMessageFor(m => m.CreditCardType)
        </td>
    </tr>
    <tr>
        <td align="right">
            @Html.DisplayNameFor(m => m.Expiration)
        </td>
        <td>
            &nbsp;@Html.TextBoxFor(m => m.Expiration) (mm/yy)
        </td>
        <td>
            @Html.ValidationMessageFor(m => m.Expiration)
        </td>
    </tr>
    <tr>
        <td align="right">
            @Html.DisplayNameFor(m => m.UserName)
        </td>
        <td>
            &nbsp;@Html.TextBoxFor(m => m.UserName)
        </td>
        <td>
            @Html.ValidationMessageFor(m => m.UserName)
        </td>
    </tr>
    <tr>
        <td align="right">
            @Html.DisplayNameFor(m => m.Password)
        </td>
        <td>
            &nbsp;@Html.PasswordFor(m => m.Password)
        </td>
        <td>
            @Html.ValidationMessageFor(m => m.Password)
        </td>
    </tr>
    <tr>
        <td align="right">
            @Html.DisplayNameFor(m => m.ConfirmPwd)
        </td>
        <td>
            &nbsp;@Html.PasswordFor(m => m.ConfirmPwd)
        </td>
        <td>
            @Html.ValidationMessageFor(m => m.ConfirmPwd)
        </td>
    </tr>
    <tr>
        <td align="right">
            @Html.DisplayNameFor(m => m.PasswordHintQ)
        </td>
        <td>
            &nbsp;@Html.TextBoxFor(m => m.PasswordHintQ)
        </td>
        <td>
            @Html.ValidationMessageFor(m => m.PasswordHintQ)
        </td>
    </tr>
    <tr>
        <td align="right">
            @Html.DisplayNameFor(m => m.PasswordHintA)
        </td>
        <td>
            &nbsp;@Html.TextBoxFor(m => m.PasswordHintA)
        </td>
        <td>
            @Html.ValidationMessageFor(m => m.PasswordHintA)
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <div>
                <table>
                    <tr>
                        <td>
                            <input type="submit" value="Register" id="btnRegister" name="btnRegister" />
                        </td>
                        <td>
                            <input type="reset" value="Reset" id="btnResetReg" name="btnResetReg" />
                        </td>
                    </tr>
                </table>
            </div>
        </td>
        <td></td>
    </tr>
</table>
}
