@model ProductCartModel

@using Shopping.Models;

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<style>
    .singleTextBox {
        width: 4em;
    }
</style>

@using (Html.BeginForm())
{
    @*Check for null Model, or Model.Product or Model.Cart*@
    @Html.HiddenFor(m => m.Product.ProductID)
    @Html.HiddenFor(m => m.Product.CatagoryID)
    @Html.HiddenFor(m => m.Product.Inventory)

    <table style="width:90%">
        <tr>
            <td></td>
            <td style="font-size:medium; font-weight:bold; color:purple">
                @Html.HiddenFor(m => m.Product.ShortDesc)
                @Html.ValueFor(m => m.Product.ShortDesc)
            </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>
                @Html.HiddenFor(m => m.Product.Price)
                $@Html.ValueFor(m => m.Product.Price)
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                <img src=@Url.Content("~/res/images/" + @Model.Product.Image) alt="@Model.Product.Image" />
            </td>
            <td align="justify">
                @Html.HiddenFor(m => m.Product.LongDesc)
                @Html.ValueFor(m => m.Product.LongDesc)
            </td>
            <td></td>
        </tr>
        <tr>
            <td colspan="3">
                <hr style="border-color:#0000FF; border-width:3px"/>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td align="right">
                Please enter quantity
            </td>
            <td>
                @Html.TextBoxFor(m => m.Cart.ProductQuantity, new { @class = "singleTextBox" })
            </td>
            <td>
                @Html.ValidationMessageFor(m => m.Cart.ProductQuantity)
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit"
                       value="Add to Cart"
                       id="btnAddToCart"
                       name="btnAddToCart"
                       style="width:144px" />
            </td>
            <td id="lblAddToCart">
                @Html.ValueFor(m => m.Product.Status)
            </td>
        </tr>
        <tr>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit"
                       value="View Cart"
                       id="btnViewCart"
                       name="btnViewCart"
                       style="width:144px" />
            </td>
            <td>
                &nbsp;<input type="submit"
                             value="Continue Shopping"
                             id="btnContShopping"
                             name="btnContShopping"
                             style="width:144px" />
            </td>
        </tr>
    </table>
}