@using Shopping.Models;

@model IEnumerable<ProductModel>

@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<script type="text/javascript">
        $(function () {
            $("#navTable tr").hover(function () {
                $(this).addClass("tableHighlight");
            },
            function () {
                $(this).removeClass("tableHighlight");
            });
        });
</script>


@using (Html.BeginForm())
{
    <table id="navTable" style="border:thin solid;border-collapse:collapse;width:80%">
        <tr>
            <th class="th">
                @Html.DisplayNameFor(m => m.First<ProductModel>().ShortDesc)
            </th>
            <th class="th">
                @Html.DisplayNameFor(m => m.First<ProductModel>().LongDesc)
            </th>
            <th class="th">
                @Html.DisplayNameFor(m => m.First<ProductModel>().Image.ImageFile)
            </th>
        </tr>

        @foreach (ProductModel item in Model)
        {
            <tr class="tr">
                <td class="td">
                    @item.ShortDesc
                </td>
                <td class="td">
                    @Html.ActionLink("Details", "Details", "Products", new { ProdID = @item.ProductID }, null)
                </td>
                <td class="td">
                    @{
                        if (item.Image != null)
                        {
                            string imageBase64 = Convert.ToBase64String(item.Image.ImageData);
                            //Add type to ProductModel class
                            string imageSrc = string.Format("data:/image/jpeg;base64,{0}", imageBase64);
                            <img src="@imageSrc" alt="@item.ShortDesc" />
                        }
                    }
                </td>
            </tr>
        }
    </table>
}
