@model CartListModel
@using Shopping.Models;

@{
    ViewBag.Title = "ViewCart";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<style>
    .singleTextBox {
        width: 5em;
        display: block;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.428571429;
        color: #555555;
        vertical-align: middle;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    }
</style>
@using (Html.BeginForm())
{
    <table style="width:90%">
        <tr>
            <td colspan="5">
                <hr style="border-color:#0000FF; border-width:3px" />
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(m => m.CartList.First().ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.CartList.First().ProductQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.CartList.First().ProductPrice)
            </th>
            <th>
                Total
            </th>
        </tr>
        @{ decimal Total = 0; }
        @for (int Index = 0; Index < Model.CartList.Count(); ++ Index)
        {
            <tr>
                @Html.HiddenFor(m => m.CartList[Index].ProductID)
                <td align="right">
                    @Model.CartList[Index].ProductName
                </td>
                <td>
                    @Html.EditorFor(m => m.CartList[Index].ProductQuantity,
                        new { htmlAttributes = new { @class = "form-control" } })
                </td>
                <td>
                    $@Model.CartList[Index].ProductPrice
                </td>
                <td>
                    $@(Model.CartList[Index].ProductPrice * Model.CartList[Index].ProductQuantity)
                    @{ Total += Model.CartList[Index].ProductPrice * Model.CartList[Index].ProductQuantity; }
                </td>
            </tr>
        }
        <tr>
            <td colspan="4"></td>
        </tr>
        <tr>
            <td colspan="2"></td>
            <td>
                Grand Total
            </td>
            <td style="font-size:small; font-weight:bold">
                $@Total
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td align="right">
                <input type="submit" value="Clear All" id="btnClear" name="btnClear" class="btn btn-default" />
            </td>
            <td align="center">
                <input type="submit" value="Update Cart" id="btnUpdate" name="btnUpdate" class="btn btn-default" />
            </td>
            <td>
                <input type="submit" value="Cancel Changes" id="btnCancel" name="btnCancel" class="btn btn-default" />
            </td>
        </tr>
        <tr>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td colspan="3">
                <text style="color:#006600">
                    To remove an individual item, set the quantity to zero)
                </text>
            </td>
        </tr>
    </table>
    <table style="width:90%">
        <tr>
            <td colspan="5">
                <hr style="border-color:#0000FF; border-width:3px" />
            </td>
        </tr>
    </table>
}